<div class="home_right_side" style="height:861px;">

					<div class="card" >
	<article class="card-group-item" >
		<header class="card-header">
			<h6 class="title">Üniversiteler </h6>
		</header>
		<div class="filter-content" >
			<div class="card-body" style="height:1000px;"><br>
				<br>
				<br>
				<br><br>


				{% for uni in universities%}

				<a href="{% url 'home:uni_detail' uni.id %}">
					<p>{{forloop.counter}}.) {{uni.name}}</p>
				</a>

				{% endfor %}
<br>
				<br>
				<br><br><br>
				<br>
				<br><br><br>
				<br>
				<br><br><br>
				<br>
				<br><br><br>
				<br>
				<br><br>
				</div>
			</div>
		</article>
		</div>

		</div>