{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home_left_side">

<div class="home_slider_container" style="height:861px" >

		<!-- Home Slider -->

			<div class="owl-carousel owl-theme home_slider" >

				<!-- Slider Item -->
				<div class="owl-item">
					<div class="slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
					<div class="home_slider_content text-center">
						<h1>Işık Üniversitesi 2018 Sınav Sonuçları İçin Buraya Tıklayınız...</h1>
						<div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
						<div class="link_button home_slider_button"><a href="#">read more</a></div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">
					<div class="slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
					<div class="home_slider_content text-center">
						<h1>A new World is coming</h1>
						<div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
						<div class="link_button home_slider_button"><a href="#">read more</a></div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">
					<div class="slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
					<div class="home_slider_content text-center">
						<h1>A new World is coming</h1>
						<div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
						<div class="link_button home_slider_button"><a href="#">read more</a></div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">

					<div class="slider_background " style="background-image: url({% static 'images/home_slider_1.jpg'%});"> </div>
					<div class="home_slider_content text-center">
						<h1>A new World is coming</h1>
						<div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
						<div class="link_button home_slider_button"><a href="#">read more</a></div>
					</div>
				</div>

			</div>

			<div class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/arrow_l.png' %}" alt=""></div>
			<div class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/arrow_r.png' %}" alt=""></div>


		</div>

</div>


{% endblock content %}