{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}

<style>

html{background-color: #11100e;}
header{background: #11100e;}
h1 {background-color:#11100e; }

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;


}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

table {
            width:  100%;

        }
        td {
            border: 1px solid black;
        }
        .scrollingTable {
            width: 70em;
            overflow-y: auto;
        }


</style>
{% endblock extra_css %}


<div class="fixer">
{% block content %}
<div class="home_left_side" onload="makeTableScroll();">


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



<div class="tab" >
    <h1>{{department.department_name}}</h1>
    <button class="tablinks" onclick="openCity(event, '2018')">Arama Sonucuyla İlgili Üniversiteler</button>
    <button class="tablinks" onclick="openCity(event, '2017')">Arama Sonucuyla İlgili Bölümler</button>

</div>


<div class="scrollingTable">


 <div  id="2018" class="tabcontent">
<table id="myTable">
	<tr>
        <th>Üniversite İsmi </th>

  </tr>

     {% for university in unies %}

	 <tr>
         <td><a href="/university/{{university.id}}">{{university.name}}</a></td>

	</tr>

     {% endfor %}




 </table>
 </div>


    <div  id="2017" class="tabcontent">
 <table id="myTable1">
	<tr>
        <th>Bölüm İsmi </th>

  </tr>
      {% for departments in deps %}

	 <tr>

         <td><a href="/department/{{departments.id}}">{{departments.department_name}}</a></td>

	</tr>

     {% endfor %}
     </table>
     </div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</div>

<script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = 400 + "px";
            }
        }
         function makeTableScroll1() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('myTable1');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = 400 + "px";
            }
        }
         function makeTableScroll2() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('myTable2');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = 400 + "px";
            }
        }
         function makeTableScroll3() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('myTable3');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = 400 + "px";
            }
        }
        function makeTableScroll5() {
            // Constant retrieved from server-side via JSP
            var maxRows = 10;

            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = 400 + "px";
            }
        }
    </script>

{% endblock content %}</div>
